@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: linear-gradient(to right, #e08d8d, rgba(224, 141, 141, 0.4470588235));
  color: #fff;
  padding: 20px 0;
}

.fa-user,
.fa-shopping-cart {
  color: #2B0806;
  transition: color 0.1s;
}

.fa-user:hover,
.fa-shopping-cart:hover {
  color: #e08d8d;
}

.img__logo {
  width: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.center-section {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.logo {
  font-size: 24px;
}

.nav__header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__header li {
  position: relative;
  margin-right: 20px;
}
.nav__header a {
  color: #2B0806;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  letter-spacing: 1px;
}
.nav__header .submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav__header .submenu li {
  margin-top: 15px;
}
.nav__header li:hover .submenu {
  display: block;
}
.nav__header .submenu a {
  color: #2B0806;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}
.nav__header .submenu a:hover {
  color: #e08d8d;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #2B0806;
  text-decoration: none;
  font-size: 18px;
}

.icons a {
  font-size: 20px;
  color: #2B0806;
  margin-left: 20px;
  text-decoration: none;
}

.carousel {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

.slide img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-content {
  padding: 40px 0;
}

.productos {
  margin-bottom: 20px;
  text-align: center;
}

.productos h2 {
  letter-spacing: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.producto {
  text-align: center;
  width: calc(25% - 40px);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.producto h3 {
  color: #2B0806;
  margin: 10px 0;
}

.producto p {
  font-weight: bold;
  color: #2B0806;
}

.href__style {
  text-decoration: none;
  color: inherit;
}

.last__add__product--title {
  margin-top: 100px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  background-color: #a86a6a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e08d8d;
}

.section__title {
  font-size: 24px;
  color: #2B0806;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container__detail__product {
  margin-top: 20px;
}
.container__detail__product .fa-store:before {
  content: "\f54e";
  margin-left: 50px;
}
.container__detail__product .row {
  display: flex;
  flex-direction: row-reverse;
}
.container__detail__product .row .productos__contenedor {
  width: 39%;
  padding-left: 20px;
}
.container__detail__product .row .productos__contenedor img.product-detail-img {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 90%;
  height: auto;
}
.container__detail__product .row .productos__contenedor p.product-detail-description {
  font-size: 16px;
  color: #333;
}
.container__detail__product .row .productos__contenedor__segundo {
  width: 50%;
  padding: 30px;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .product-detail-description {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .product-detail-title {
  font-size: 39px;
  color: #e08d8d;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .product-detail-price {
  font-size: 28px;
  color: #e08d8d;
  /*margin-bottom: 10px;*/
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .product-detail-price .small {
  font-size: 14px;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .actions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .actions-list li {
  justify-content: center;
  display: inline-flex;
  margin-bottom: 30px;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .actions-list li i {
  margin-right: 10px;
  color: #e08d8d;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .actions-list li p {
  /*font-size: 14px;*/
  color: #333;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .buttom__buy {
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .buy-now-button {
  margin-top: 50px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #e08d8d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.container__detail__product .row .productos__contenedor__segundo .product-detail-info .buy-now-button:hover {
  background-color: #d56565;
}

.container__login {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #e08d8d;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #a86a6a;
}

.link {
  text-align: center;
  margin-top: 20px;
}

.link a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link a:hover {
  color: #e08d8d;
}

.section {
  color: #2B0806;
  display: flex;
}

.letras_tamaño {
  color: #2B0806;
  font-size: 20px;
}

#contacto {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.fa-clock,
.fa-phone,
.fa-envelope-circle-check {
  font-size: 25px;
  color: #a86a6a;
  margin-right: 5px;
}

.fa-location-dot {
  margin-left: 20px;
  font-size: 30px;
  color: #a86a6a;
  margin-right: 5px;
}

.container__contact {
  display: inline-block;
  flex: 1;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.p_clases {
  margin-top: 40px;
}

#horarios {
  margin-left: 70px;
  flex: 1;
  margin-top: 16%;
  font-size: 100%;
}

.telefono-decoration {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.email-decoration {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.main__contact {
  display: flex;
  justify-content: center;
}

.columna__search {
  display: inline-block;
  width: 90%;
}

.search-form_input-wrapper {
  position: relative;
}

.search-form_input {
  padding-right: 40px;
}

.search-form_button {
  margin-left: 11px;
  position: absolute;
}

.section__busqueda {
  color: #2B0806;
}

.products-title__h2 {
  margin-top: 30px;
  color: #2B0806;
  letter-spacing: 0px;
}

.href__github {
  color: inherit;
}

.footer {
  background-color: #a86a6a;
  color: #fff;
  padding: 100px 0;
}
.footer__bg {
  padding: 20px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  font-size: 24px;
  margin-bottom: 10px;
}
.footer__subtitle {
  font-size: 14px;
  opacity: 0.8;
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer__links li {
  margin-right: 20px;
}
.footer__links li:last-child {
  margin-right: 0;
}
.footer__links .footer__link {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.footer__links .footer__link:hover {
  opacity: 1;
}
.footer__copy {
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.6;
}

.container--div__carrito {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}

th {
  background-color: #e08d8d;
  color: #fff;
  width: 100px;
}

.total {
  margin-top: 20px;
}

.checkout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e08d8d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #a86a6a;
}

.product__carrito__img {
  display: block;
  margin: 0 auto;
  max-width: 45%;
  height: auto;
}

.comprarTodo a {
  color: white;
  text-decoration: none;
}

.button__buy__delete {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=style.css.map */