<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Store | Registro</title>
  <link rel="stylesheet" href="/sass/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <!--ICONO PÁGINA-->
  <link rel="icon" href="/img/loguito.png">
</head>
<body>
  <%- include('partials/header.ejs') %>
    
  <main>
    <div class="container__login">
      <h1>Registrate</h1>
      <form id="loginForm" action="/users/login" method="POST">
        <input type="text" name="username" placeholder="Ingrese su nombre completo" required>
        <input type="text" name="email" placeholder="Ingrese un email válido" required>
        <input type="password" name="password" placeholder="Ingrese una contraseña" required>
        <input src="/users/login" type="submit" value="Registrarse">
      </form>
      <div class="link">
        ¿Ya tienes una cuenta? <a href="/users/login">¡Inicia sesión!</a>
      </div>
    </div>
  </main>


  <script src="/js/script.js"></script>
</body>
</html>
