<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Tienda de Anime</h1>
                <span class="footer__subtitle">Compra online de ropa, manga, etc..</span>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="/products/manga" class="footer__link">Manga</a>
                </li>
                <li>
                    <a href="/products/clothes" class="footer__link">Vestimenta</a>
                </li>
                <li>
                    <a href="/contact" class="footer__link">Contacto</a>
                </li>
            </ul>
        </div>
    </div>

    <p class="footer__copy">&#169; 2024 Tienda Anime | Creado por: <a class="href__github" href="https://github.com/valeen-rodriguez">Valentina Rodriguez</a> </p>
</footer>