<header>
    <div class="container">
      <div class="left-section">
        <a href="/">
        <h1 class="logo"><img class="img__logo" src="/img/loguito.png"></h1>
        </a>
      </div>
      <div class="center-section">
        <nav class="nav__header">
          <ul>
            <li><a href="/">INICIO</a></li>
            <li class="productos-nav"><a href="/products/producto">PRODUCTOS</a>
              <ul class="submenu">
                <li><a href="/products/figures">FIGURAS</a></li>
                <li><a href="/products/clothes">VESTIMENTA</a></li>
                <li><a href="/products/manga">MANGAS</a></li>
              </ul>
            </li>
            <li class="contacto"><a href="contact">CONTACTO</a></li>
          </ul>
          <div class="columna__search">
            <form action="/search" method="GET" class="search-form">
              <div class="search-form_input-wrapper">
                <input type="text" name="keywords" placeholder="Buscador" class="search-form_input">
                <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
              </div>
            </form>
          </div>
          
        </nav>
      </div>      
      <div class="right-section">
        <div class="icons">
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
          <a href="/users/login"><i class="fas fa-user"></i></a>
        </div>
      </div>
    </div>
  </header>